# bert_serving==0.0.1
fuzzywuzzy==0.18.0
gensim==4.2.0
javalang==0.13.0
keras==2.8.0
# matplotlib==3.5.1
# nltk==3.7
numpy==1.22.2
pymysql==1.0.2
requests==2.26.0
scikit_learn==1.1.0
scrapy==2.6.1
sentence_transformers==2.2.0
spacy==3.2.3
tensorflow==2.8.0
torch==1.11.0
tqdm==4.63.0
transformers==4.17.0
xgboost==1.6.1
